.content-wraper{
    padding: 30px 20px 30px 20px;
    text-justify: distribute;
}

.print-button{
    float: right;
    cursor: pointer;
}

.cv-section-title{
    font-weight: bolder;
    font-size: large;
    margin-top: 40px;
    border: black 1px solid;
    border-bottom: 0;

}
.cv-data{
    border: black 1px solid;
    padding: 10px;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 600px) {
}