* {
  /*box-sizing: border-box;*/
}

body{
    font-family: 'Courier', monospace;
    background: lightgray;
}

h1,h2,h3,h4,h5,h6{margin: 0;}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

#logo-container{
    position: relative;
    z-index: 10;
}

#logo{
    padding: 5px 10px 0px 10px;
    border: black 1px solid;
    border-radius: 45px;
    display: inline-block;
    position: absolute;
    background-color: cornflowerblue;
}
#logo-title {
    float: right;
    font-size: 35px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
#logo-dropdown-menu-icon {
    float: left;
}
.phantom-place-holder{
    margin-bottom: 65px;
}
.icon{
    width: 35px;
    height: 35px;
    padding: 5px;
    border: black 1px solid;
    border-radius: 45px;
    background-color: white;
    color: blue;
}
#menu{
    padding: 5px;
    border: black 1px solid;
    border-radius: 45px;
    display: inline-block;
    position: absolute;
    background-color: gray;
}
#menu div{
    /*margin-top: 5px;*/
}
.hidden-text{
    display: none;
}

.selected{
    background-color: cornflowerblue;
}

#content{
    margin: 0;
    z-index: -1;
    padding-top: 100px;
    padding-left: 100px;
}



@media only screen and (min-width: 768px) {
    /* For large devices: */

    #menu{
        padding: 5px 5px 0px 10px;
        border: black 1px solid;
        border-radius: 45px;
        display: inline-block;
        position: absolute;
    }
    #menu div{
        float: left;
        margin-top: .1px;
    }
    #menu .menu-item{
                padding-left: 10px;
    }
    .phantom-place-holder{
        margin-left: 225px;
        margin-bottom: 0px;
    }
    
    .hidden-text{
        display: none;
        padding: 10px;
        position: absolute;
    }
    .menu-item img:hover + .hidden-text{
        display: block;
    }
    
    #content{
        padding-left: 25px;
    }
}
