* {
  /*box-sizing: border-box;*/
}

body{
    font-family: 'Courier', monospace;
    background: lightgray;
}

h1,h2,h3,h4,h5,h6{margin: 0;}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

#logo-container{
    position: relative;
    z-index: 10;
}

#logo{
    padding: 5px 10px 0px 5px;
    border: black 1px solid;
    border-radius: 45px;
    display: inline-block;
    position: absolute;
    background-color: transparent;
}
#logo-title {
    float: right;
    font-size: 35px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
#logo-menu-toggle {
    float: left;
}

.icon{
    width: 35px;
    height: 35px;
    padding: 5px;
    border: black 1px solid;
    border-radius: 45px;
    background-color: white;
    color: blue;
}
#menu{
    padding: 65px 5px 5px 5px;
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    transition:visibility 1s;
}
.menu-item{
    opacity: 1;
    visibility: visible;
    transition:visibility 1s, opacity 0.5s linear;
}
#menu div{
    margin-top: 5px;
}

.selected{
    background-color: cornflowerblue;
}

#content{
    margin: 0;
    z-index: -1;
    padding-top: 100px;
    padding-left: 100px;
}



@media only screen and (min-width: 768px) {
    /* For large devices: */

    #menu{
        padding: 5px 5px 0px 225px;
        display: inline-block;
        position: absolute;
    }
    #menu div{
        float: left;
        margin-top: 0px;
    }
    #menu .menu-item{
        padding-left: 10px;
    }
    
    .hidden-text{
        visibility: hidden;
        margin-left: 17.5px;
        border-left: black 1px solid;
        border-bottom: black 1px solid;
        padding-left: 5px;
        position: absolute;
    }
    .icon:hover + .hidden-text{
        visibility: visible;
    }
    
    #content{
        padding-left: 25px;
    }
}
