.text-wraper{
    padding: 30px 30px 30px 30px;
    text-justify: distrib   ute;
}

@media only screen and (min-width: 600px) {
.text-wraper{
    padding: 30px 50px 30px 50px;
    text-justify: distrib   ute;
}    
}

@media only screen and (min-width: 600px) {
}