<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span class="toolbar-logo">LuisFGA</span>
    <a routerLink="/" class="toolbar-menu-item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </a>
    <a routerLink="/java" class="toolbar-menu-item">
        Java
    </a>
    <a routerLink="/unix" class="toolbar-menu-item">
        BSD/Unix
    </a>
    <a routerLink="/resume" class="toolbar-menu-item">
        Currículo
    </a>
</div>

<!--<div class="content" role="main">

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0"><span>Quando?</span></div>
    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0"><span>O quê?</span></div>
  </div>

   Terminal 
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault><a href="">Em breve!</a></pre>
      <pre *ngSwitchCase="'material'">Muitas coisas</pre>
  </div>

</div>-->

<!-- Não mexa nisso! -->
<router-outlet></router-outlet>
