<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spacer"></div>
    <span>luisfga</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0"><span>Quando?</span></div>
    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0"><span>O quê?</span></div>
  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault><a href="">Em breve!</a></pre>
      <pre *ngSwitchCase="'material'">Muitas coisas</pre>
  </div>

</div>

<!-- Não mexa nisso! -->
<router-outlet></router-outlet>
