.text-wraper{
    text-justify: distribute;
    margin: 30px;
}

.entry-div{
    margin-top: 10px;
    /*margin-bottom: 20px;*/
}
.entry-title{
    padding: 5px 5px 0 5px;
}
.entry-text{
    padding: 5px;
}
.entry-link{
    padding-left: 5px;
    padding-bottom: 5px;
    padding: 0 0 5px 5px;
}
.entry-footer-note{
    font-size: small;
}

.tiny-icon{
    width: 15px;
    height: 15px;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 800px) {
   
}