.home-wraper{
    padding: 0px 15px 0px 15px;
}
.sections-container{}

.section{
    margin-top: 25px;
    width: 100%;
    cursor: pointer;
}

.section-thumbnail{
    display: flex;
}
/*.thumbnail precisa estar em uma <img>*/
.section-img-thumbnail{
    width: 100%;
}
.section-description{
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
    transition: .5s ease;
}
.sec-txt-header{
    font-weight: bold;
    font-size: larger;
}
.sec-text-wrp{
    padding: 15px;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {

    .home-wraper{
        padding: 30px 15px 30px 15px;
        width: 100%;
        margin-left: 30px;
    }
    
    .sections-container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        float: right;
    }
    .section{
        margin: 20px;
        max-width: 40%;
        position: relative;
    }
    .section:hover .section-description{
        height: auto;
    }
    .section-thumbnail{
        width: 100%;
    }

    .section-description{
        position: absolute;
        bottom: 0;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: .5s ease;
        opacity: .95;
    }
    .sec-txt-header{
        font-weight: bold;
        font-size: x-large;
    }
    
}

@media only screen and (min-width: 800px) {

    .home-wraper{
        margin-left: 120px;
        width: 100%;
    }
    
    .section{
        margin: 20px;
        max-width: 25%;
        position: relative;
    }
}